<a href="https://colab.research.google.com/github/Dell0071/hockey/blob/main/Hockey_Betting_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.linear_model import Ridge

In [3]:
path = "https://github.com/Dell0071/hockey/raw/main/hockey.csv"
hockey = pd.read_csv(path)
hockey

        Date              visitor  ...  Unnamed: 7 Unnamed: 8
0    1/13/21      St. Louis Blues  ...         NaN        NaN
1    1/13/21    Vancouver Canucks  ...         NaN        NaN
2    1/13/21  Pittsburgh Penguins  ...         NaN        NaN
3    1/13/21   Chicago Blackhawks  ...         NaN        NaN
4    1/13/21   Montreal Canadiens  ...         NaN        NaN
..       ...                  ...  ...         ...        ...
181   2/9/21    Detroit Red Wings  ...         NaN        NaN
182   2/9/21      San Jose Sharks  ...         NaN        NaN
183   2/9/21  Tampa Bay Lightning  ...         NaN        NaN
184   2/9/21      Edmonton Oilers  ...         NaN        NaN
185   2/9/21        Anaheim Ducks  ...         NaN        NaN

[186 rows x 9 columns]

In [4]:
hockey.drop(columns=hockey.columns[5:9])

        Date              visitor  ...                  home home_goals
0    1/13/21      St. Louis Blues  ...    Colorado Avalanche          1
1    1/13/21    Vancouver Canucks  ...       Edmonton Oilers          3
2    1/13/21  Pittsburgh Penguins  ...   Philadelphia Flyers          6
3    1/13/21   Chicago Blackhawks  ...   Tampa Bay Lightning          5
4    1/13/21   Montreal Canadiens  ...   Toronto Maple Leafs          5
..       ...                  ...  ...                   ...        ...
181   2/9/21    Detroit Red Wings  ...      Florida Panthers          2
182   2/9/21      San Jose Sharks  ...     Los Angeles Kings          3
183   2/9/21  Tampa Bay Lightning  ...   Nashville Predators          1
184   2/9/21      Edmonton Oilers  ...       Ottawa Senators          2
185   2/9/21        Anaheim Ducks  ...  Vegas Golden Knights          5

[186 rows x 5 columns]

In [5]:
hockey['goal_difference'] = hockey['home_goals'] - hockey['visitor_goals']

In [6]:
hockey.drop(columns=hockey.columns[5:9])

        Date              visitor  ...  home_goals goal_difference
0    1/13/21      St. Louis Blues  ...           1              -3
1    1/13/21    Vancouver Canucks  ...           3              -2
2    1/13/21  Pittsburgh Penguins  ...           6               3
3    1/13/21   Chicago Blackhawks  ...           5               4
4    1/13/21   Montreal Canadiens  ...           5               1
..       ...                  ...  ...         ...             ...
181   2/9/21    Detroit Red Wings  ...           2               1
182   2/9/21      San Jose Sharks  ...           3              -1
183   2/9/21  Tampa Bay Lightning  ...           1              -5
184   2/9/21      Edmonton Oilers  ...           2              -1
185   2/9/21        Anaheim Ducks  ...           5               1

[186 rows x 6 columns]

In [7]:
hockey['home_win'] = np.where(hockey['goal_difference'] > 0, 1, 0)
hockey['home_loss'] = np.where(hockey['goal_difference'] < 0, 1, 0)

In [8]:
hockey.drop(columns=hockey.columns[5:9])

        Date              visitor  ...  home_win home_loss
0    1/13/21      St. Louis Blues  ...         0         1
1    1/13/21    Vancouver Canucks  ...         0         1
2    1/13/21  Pittsburgh Penguins  ...         1         0
3    1/13/21   Chicago Blackhawks  ...         1         0
4    1/13/21   Montreal Canadiens  ...         1         0
..       ...                  ...  ...       ...       ...
181   2/9/21    Detroit Red Wings  ...         1         0
182   2/9/21      San Jose Sharks  ...         0         1
183   2/9/21  Tampa Bay Lightning  ...         0         1
184   2/9/21      Edmonton Oilers  ...         0         1
185   2/9/21        Anaheim Ducks  ...         1         0

[186 rows x 8 columns]

In [9]:

hockey_visitor = pd.get_dummies(hockey['visitor'], dtype=np.int64)
hockey_home = pd.get_dummies(hockey['home'], dtype=np.int64)

In [10]:
hockey_visitor

     Anaheim Ducks  Arizona Coyotes  ...  Washington Capitals  Winnipeg Jets
0                0                0  ...                    0              0
1                0                0  ...                    0              0
2                0                0  ...                    0              0
3                0                0  ...                    0              0
4                0                0  ...                    0              0
..             ...              ...  ...                  ...            ...
181              0                0  ...                    0              0
182              0                0  ...                    0              0
183              0                0  ...                    0              0
184              0                0  ...                    0              0
185              1                0  ...                    0              0

[186 rows x 31 columns]

In [11]:
hockey_model = hockey_home.sub(hockey_visitor) 
hockey_model['goal_difference'] = hockey['goal_difference']

In [12]:
hockey_model

     Anaheim Ducks  Arizona Coyotes  ...  Winnipeg Jets  goal_difference
0                0                0  ...              0               -3
1                0                0  ...              0               -2
2                0                0  ...              0                3
3                0                0  ...              0                4
4                0                0  ...              0                1
..             ...              ...  ...            ...              ...
181              0                0  ...              0                1
182              0                0  ...              0               -1
183              0                0  ...              0               -5
184              0                0  ...              0               -1
185             -1                0  ...              0                1

[186 rows x 32 columns]

In [13]:

hockey_model.drop('San Jose Sharks',axis=1)

     Anaheim Ducks  Arizona Coyotes  ...  Winnipeg Jets  goal_difference
0                0                0  ...              0               -3
1                0                0  ...              0               -2
2                0                0  ...              0                3
3                0                0  ...              0                4
4                0                0  ...              0                1
..             ...              ...  ...            ...              ...
181              0                0  ...              0                1
182              0                0  ...              0               -1
183              0                0  ...              0               -5
184              0                0  ...              0               -1
185             -1                0  ...              0                1

[186 rows x 31 columns]

In [20]:
hockey_train = hockey_model.drop('San Jose Sharks',axis=1)
lr = Ridge(alpha=0.001) 
X = hockey_train.drop(['goal_difference'],axis=1)
y = hockey_model['goal_difference']

lr.fit(X, y)

Ridge(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [21]:
hockey_ratings = pd.DataFrame(data={'team': X.columns, 'rating': lr.coef_})
hockey_ratings

                     team    rating
0           Anaheim Ducks -0.436990
1         Arizona Coyotes  0.264332
2           Boston Bruins  1.263838
3          Buffalo Sabres -0.421211
4          Calgary Flames  0.499420
5     Carolina Hurricanes  0.769370
6      Chicago Blackhawks -0.057196
7      Colorado Avalanche  1.213150
8   Columbus Blue Jackets -0.442773
9            Dallas Stars  0.480608
10      Detroit Red Wings -1.074488
11        Edmonton Oilers -0.183247
12       Florida Panthers -0.388077
13      Los Angeles Kings -0.348858
14         Minnesota Wild  0.075233
15     Montreal Canadiens  1.125241
16    Nashville Predators -0.749231
17      New Jersey Devils -0.153866
18     New York Islanders  0.019769
19       New York Rangers -0.516214
20        Ottawa Senators -1.798010
21    Philadelphia Flyers  0.474435
22    Pittsburgh Penguins -0.482643
23        St. Louis Blues  0.074729
24    Tampa Bay Lightning  1.461788
25    Toronto Maple Leafs  0.761226
26      Vancouver Canucks -0.475668
27   Vegas Golden Knights  0.686828
28    Washington Capitals -0.184109
29          Winnipeg Jets  0.071038