<a href="https://colab.research.google.com/github/Dell0071/hockey/blob/main/Hockey_Betting_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.linear_model import Ridge

In [24]:
path = "https://github.com/Dell0071/hockey/raw/main/hockey.csv"
hockey = pd.read_csv(path, skiprows=1, names=['date', 'visitor', 'visitor_goals', 'home', 'home_goals'])
hockey

        date              visitor  ...                 home home_goals
1    1/13/21      St. Louis Blues  ...   Colorado Avalanche          1
2    1/13/21    Vancouver Canucks  ...      Edmonton Oilers          3
3    1/13/21  Pittsburgh Penguins  ...  Philadelphia Flyers          6
4    1/13/21   Chicago Blackhawks  ...  Tampa Bay Lightning          5
5    1/13/21   Montreal Canadiens  ...  Toronto Maple Leafs          5
..       ...                  ...  ...                  ...        ...
256  2/20/21     New York Rangers  ...  Washington Capitals          1
257  2/21/21  Philadelphia Flyers  ...        Boston Bruins          7
258  2/21/21   Montreal Canadiens  ...      Ottawa Senators          3
259  2/21/21        Winnipeg Jets  ...    Vancouver Canucks          3
260  2/21/21    New Jersey Devils  ...  Washington Capitals          4

[260 rows x 5 columns]

In [25]:
hockey.drop(columns=hockey.columns[5:9])

        date              visitor  ...                 home home_goals
1    1/13/21      St. Louis Blues  ...   Colorado Avalanche          1
2    1/13/21    Vancouver Canucks  ...      Edmonton Oilers          3
3    1/13/21  Pittsburgh Penguins  ...  Philadelphia Flyers          6
4    1/13/21   Chicago Blackhawks  ...  Tampa Bay Lightning          5
5    1/13/21   Montreal Canadiens  ...  Toronto Maple Leafs          5
..       ...                  ...  ...                  ...        ...
256  2/20/21     New York Rangers  ...  Washington Capitals          1
257  2/21/21  Philadelphia Flyers  ...        Boston Bruins          7
258  2/21/21   Montreal Canadiens  ...      Ottawa Senators          3
259  2/21/21        Winnipeg Jets  ...    Vancouver Canucks          3
260  2/21/21    New Jersey Devils  ...  Washington Capitals          4

[260 rows x 5 columns]

In [27]:
hockey['goal_difference'] = hockey['home_goals'] - hockey['visitor_goals']

In [28]:
hockey.drop(columns=hockey.columns[5:9])

        date              visitor  ...                 home home_goals
1    1/13/21      St. Louis Blues  ...   Colorado Avalanche          1
2    1/13/21    Vancouver Canucks  ...      Edmonton Oilers          3
3    1/13/21  Pittsburgh Penguins  ...  Philadelphia Flyers          6
4    1/13/21   Chicago Blackhawks  ...  Tampa Bay Lightning          5
5    1/13/21   Montreal Canadiens  ...  Toronto Maple Leafs          5
..       ...                  ...  ...                  ...        ...
256  2/20/21     New York Rangers  ...  Washington Capitals          1
257  2/21/21  Philadelphia Flyers  ...        Boston Bruins          7
258  2/21/21   Montreal Canadiens  ...      Ottawa Senators          3
259  2/21/21        Winnipeg Jets  ...    Vancouver Canucks          3
260  2/21/21    New Jersey Devils  ...  Washington Capitals          4

[260 rows x 5 columns]

In [29]:
hockey['home_win'] = np.where(hockey['goal_difference'] > 0, 1, 0)
hockey['home_loss'] = np.where(hockey['goal_difference'] < 0, 1, 0)

In [30]:
hockey.drop(columns=hockey.columns[5:9])

        date              visitor  ...                 home home_goals
1    1/13/21      St. Louis Blues  ...   Colorado Avalanche          1
2    1/13/21    Vancouver Canucks  ...      Edmonton Oilers          3
3    1/13/21  Pittsburgh Penguins  ...  Philadelphia Flyers          6
4    1/13/21   Chicago Blackhawks  ...  Tampa Bay Lightning          5
5    1/13/21   Montreal Canadiens  ...  Toronto Maple Leafs          5
..       ...                  ...  ...                  ...        ...
256  2/20/21     New York Rangers  ...  Washington Capitals          1
257  2/21/21  Philadelphia Flyers  ...        Boston Bruins          7
258  2/21/21   Montreal Canadiens  ...      Ottawa Senators          3
259  2/21/21        Winnipeg Jets  ...    Vancouver Canucks          3
260  2/21/21    New Jersey Devils  ...  Washington Capitals          4

[260 rows x 5 columns]

In [31]:

hockey_visitor = pd.get_dummies(hockey['visitor'], dtype=np.int64)
hockey_home = pd.get_dummies(hockey['home'], dtype=np.int64)

In [32]:
hockey_visitor

     Anaheim Ducks  Arizona Coyotes  ...  Washington Capitals  Winnipeg Jets
1                0                0  ...                    0              0
2                0                0  ...                    0              0
3                0                0  ...                    0              0
4                0                0  ...                    0              0
5                0                0  ...                    0              0
..             ...              ...  ...                  ...            ...
256              0                0  ...                    0              0
257              0                0  ...                    0              0
258              0                0  ...                    0              0
259              0                0  ...                    0              1
260              0                0  ...                    0              0

[260 rows x 31 columns]

In [33]:
hockey_model = hockey_home.sub(hockey_visitor) 
hockey_model['goal_difference'] = hockey['goal_difference']

In [34]:
hockey_model

     Anaheim Ducks  Arizona Coyotes  ...  Winnipeg Jets  goal_difference
1                0                0  ...              0               -3
2                0                0  ...              0               -2
3                0                0  ...              0                3
4                0                0  ...              0                4
5                0                0  ...              0                1
..             ...              ...  ...            ...              ...
256              0                0  ...              0               -3
257              0                0  ...              0                4
258              0                0  ...              0                1
259              0                0  ...             -1               -1
260              0                0  ...              0                1

[260 rows x 32 columns]

In [35]:
hockey_train = hockey_model
lr = Ridge(alpha=0.001) 
X = hockey_train.drop(['goal_difference'],axis=1)
y = hockey_model['goal_difference']

lr.fit(X, y)

Ridge(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [36]:
hockey_ratings = pd.DataFrame(data={'team': X.columns, 'rating': lr.coef_})
hockey_ratings

                     team    rating
0           Anaheim Ducks -0.808956
1         Arizona Coyotes -0.455133
2           Boston Bruins  1.006164
3          Buffalo Sabres -0.707900
4          Calgary Flames -0.238408
5     Carolina Hurricanes  1.134767
6      Chicago Blackhawks -0.101137
7      Colorado Avalanche  1.073117
8   Columbus Blue Jackets -0.486827
9            Dallas Stars  0.338239
10      Detroit Red Wings -1.108168
11        Edmonton Oilers  0.424903
12       Florida Panthers  0.205367
13      Los Angeles Kings  0.242864
14         Minnesota Wild  0.187612
15     Montreal Canadiens  0.474707
16    Nashville Predators -0.922971
17      New Jersey Devils  0.002659
18     New York Islanders  0.096429
19       New York Rangers -0.191383
20        Ottawa Senators -1.235367
21    Philadelphia Flyers  0.150614
22    Pittsburgh Penguins -0.074626
23        San Jose Sharks -0.595957
24        St. Louis Blues -0.095789
25    Tampa Bay Lightning  0.940730
26    Toronto Maple Leafs  0.826584
27      Vancouver Canucks -0.527607
28   Vegas Golden Knights  0.452242
29    Washington Capitals -0.281957
30          Winnipeg Jets  0.275189